<!--Navbar-->
<div ng-controller="headerController" style="height:100px; width: 100%;">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container-fluid">
	    <!-- Navbar brand -->
		<div class="col-lg-3">
	    <a class="navbar-brand" ui-sref="home">
				<img class="navbar-brand" style="padding: 15px;" src="http://138.68.22.10/ckong/starving-today/images/hungerHubLogo.png" height="70"/></a>
		</div>

	    <div class="col-lg-6" style="height:100px; width: 100%;">

	    	<form class="form-inline" ng-submit="runSearch(searchquery)">
	        <div class="md-form mt-0" style="width: 100%; padding: 20px;" >
	            <input class="form-control" type="text" style="width: 100%;" placeholder="Search" aria-label="Search" ng-model="searchquery">
	        </div>

	    </form>
				</div>
	    <div class="col-lg-3" style="height:100px; width: 100%;">
				<div class="white-text" style="padding: 20px; float: right; text-align:right;">
					<h4 class="white-text" style="margin-bottom: 0px;">Hi, {{ user.firstname }}</h4>
					<a class="white-text" ng-click="LoadMyHub()">View Profile </a> | <a class="red-text" ng-click="Logout()">Sign Out <i class="fas fa-sign-out-alt prefix red-text"></i> </a>
				</div>
				<!--
				<div style="text-align:right; float: right;">
					<img class="img-thumbnail" style="height: 100px; width: 100px;" src="{{ user.profileimage }}"/>
				</div>
				-->
		</div>
	</div>
	</nav>
	<div class="container-fluid" style="text-align: center;">
		<div class="alert alert-warning" role="alert" ng-if="recipecount == 0">
		  <strong>Uh oh!</strong> Unfortunately, we couldn't find any results for "{{ search }}". Please try again!
		</div>
	</div>
</div>
