body {
  	margin: 0;
  	padding: 0;
  	font-family: 'Source Sans Pro', sans-serif;
    height: 100% !important;
}
html, body {
    overflow: auto;
}
.dark-text{
  font-size: 10pt;
  text-align: left;
}

.content-view{
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
}

.header{
	/*width: 100% !important;*/
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
	justify-content: space-between;
}

.header-other{
	/*width: 100% !important;*/
  right: 0;
  top: 0;
  left: 0;
	justify-content: space-between;
}

.lo {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(225,225,225, .3);
  background-color: rgba(225, 225, 225, .3);
}

.vctr {
  top: 50%;
  transform: translateY(-50%);
}

.login-form-container {
	background-color: rgba(240,240,240,1);
  border-radius: 10px;
}

.content-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper{
	position: absolute;
	width: 100%;
	height: 100% !important;
	background-image: url(../images/bgd.jpg);
	background-size: cover !important;
	background-repeat: no-repeat;
	background-blend-mode: screen;
}

.signin-tab{
	border-width: 0px !important;
	padding-left: 4px;
	padding-right: 4px;
}


.nav-item{
	padding-bottom: 25px;
}

#frame {
  width: 100%;
  height: 90%;
}

#landing-wrapper {
  text-align: center;
  position: relative;
  vertical-align: middle;
  height: 100%;
}

#left-half, #right-half {
	padding: 20px;
  	display: inline-block;
  	vertical-align: middle;
  	width: 40%;
  	height: 100%;
	max-width: 450px;
}

#description-wrapper {
  position:absolute;
  width: 100%;
  text-align: right;
  color: #f1f1f1;
}

#another-wrapper {
  position: relative;
  height:100%;
}

#form-wrapper {
	width: 50%;
	text-justify: center;
  	text-align: center;
}

#enter-tabs {
	text-align: center;
	align-content: center;
}



.logo{
	/*background: #000000;*/
}

.navbar{
	width: 100% !important;
	height: 100px;
}

.search-bar-input{
	background-color: rgba(0,0,0,.5);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border: thin;
}
.search-dropdown-button{
	background-color: rgba(0,0,0,.5);
}

.profile-navigation{
	text-justify:right;
}

/*profile navs include name, account, sign out and profile picture and are right justified*/
.header-profile-navs{

	justify-content: flex-end;
	align-content: center;
	float: right !important;
}
