body {
  	margin: 0;
  	padding: 0;
    height: 100% !important;
}
html, body {
    overflow: auto;
}

.hh {
  background-color: #4eb71a;
}

.tea {
  background-color: #D0F0C0;
}

.content-view{
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav-justified {
  margin: 0px, 5px;
}

.nav-link {
  color:#fff;
  border: 1px solid transparent;
  background-color: rgba(26,26,26,.1);
  border-color: white;
}

.nav-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-link:hover {
  color:#fff;
  background-color: rgba(240,240,240,.4);
}

.active {
  color:#444;
  background-color: rgba(255,255,255,1);
}

.top-rounded {
   border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
}

.header{
	/*width: 100% !important;*/
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
	justify-content: space-between;
}

.header-other{
	/*width: 100% !important;*/
  right: 0;
  top: 0;
  left: 0;
	justify-content: space-between;
}

.lo {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(225,225,225, .3);
  background-color: rgba(225, 225, 225, .3);
}

.vctr {
  top: 50%;
  transform: translateY(-50%);
}

.login-form-container {
	background-color: rgba(255,255,255,1);
  border-radius: 10px;
}

.content-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade {
	background-color: rgba(0,0,0,0);
}

.content-wrapper{
	position: absolute;
	width: 100%;
	height: 100% !important;
	background-image: url(../images/bgd.jpg);
	background-size: cover !important;
	background-repeat: no-repeat;
	background-blend-mode: screen;
}

.signin-tab{
	border-width: 0px !important;
	padding-left: 4px;
	padding-right: 4px;
}

#frame {
  width: 100%;
  height: 90%;
}

#landing-wrapper {
  text-align: center;
  position: relative;
  vertical-align: middle;
  height: 100%;
}

#description-wrapper {
  position:absolute;
  width: 100%;
  text-align: right;
  color: #f1f1f1;
}

#another-wrapper {
  position: relative;
  height:100%;
}

#form-wrapper {
	width: 50%;
	text-justify: center;
  	text-align: center;
}

#enter-tabs {
	text-align: center;
	align-content: center;
}

.logo{
	/*background: #000000;*/
}

.search-bar-input{
	background-color: rgba(0,0,0,.5);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border: thin;
}
.search-dropdown-button{
	background-color: rgba(0,0,0,.5);
}

.profile-navigation{
	text-justify:right;
}

/*profile navs include name, account, sign out and profile picture and are right justified*/
.header-profile-navs{

	justify-content: flex-end;
	align-content: center;
	float: right !important;
}
