  <div class="container h-100" style="justify-content:center">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-4">
        <!--USER PROFILE CARD-->
        <div class="card">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="{{ user.profileimage }}" class="img-fluid">
              <div class="row white-text" style="padding: 0px; margin: 0px; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.10) 90%, rgba(0,0,0,0.83) 100%); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.53) 79%,rgba(0,0,0,0.53) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.53) 79%,rgba(0,0,0,0.53) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ba000000',GradientType=0 ); width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="col-sm-12" style="height: 50%; margin: 0; padding: 0px; padding-top: 5px;">

                </div>
                <div class="col-sm-12" style="height: 50%; margin: 0; padding: 0px;">
                  <span style="position: absolute; bottom: 0; right: 10; text-align: left; width:100%;">
                  <a  ng-click="AddFriend()">
                    <h3 class="truncate white-text" style="padding-left:10px; text-shadow: 1px 2px 4px rgba(0,0,0,0.7); font-weight: 400;">Add Friend</h3>
                  </a>
                  </span>
                </div>
              </div>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h3 style="margin-bottom:0px;" class="card-title black-text">{{ user.firstname }} {{ user.lastname }}</h3>
            <h5><i>{{ user.username}}</i>
            <a ng-if="myUser.userid == user.userid" style="float: right; color: grey;" data-toggle="modal" data-target="#user-editor"><i class="far fa-edit pr-1"></i></a>
            </h5>
            <hr>
            <!--Text-->
            <div style="white-space: pre-wrap;">{{ user.bio }}</div>

          </div>
          <!-- Card content -->
          <!-- Card footer -->
          <div class=" card-body tea lighten-3 text-center">

              <ul class="list-unstyled list-inline mt-3">
                <li class="list-inline-item pr-2 black-text"><i class="fas fa-utensils pr-1"></i>{{recipecount}}</li>
                <li class="list-inline-item pr-2 black-text"><i class="far fa-thumbs-up pr-1"></i>{{reciperating}}</li>
                <li class="list-inline-item pr-2 black-text"><a><i class="fas fa-users pr-1"></i></a>{{ followcount }}</li>
              </ul>
          </div>
        </div>

        <!--RECIPIES CARD-->
        <div class="card" style="margin-top:10px; background-color: #f1f1f1;">
          <!--links to add and view all recipies-->
          <div class="card-header white-text" style="background-color: grey;">
            <h3 style="margin-bottom:0px;">Recipes<a style="float: right; color: white;" ng-if="myUser.userid === user.userid" data-toggle="modal" data-target="#recipe-adder" ><h5><i class="fa fa-plus fa-xs pr-1"></i></h5></a></h3>
          </div>

          <!--some recipies-->
          <div class="card-body">
            <div class="row justify-content-center">
              <div ng-repeat="(key, value) in userrecipes | limitTo:9">
                <div class="card white fill" style="padding: 0px; margin: 5px; height: 100px; width: 100px;" data-toggle="tooltip" data-placement="top">
                  <div class="view overlay" style="height: 100px;">
                    <a ng-click="selectRecipe(key)" class="text-center white-text">
                      <strong>
                        <img class="recipie-thumbnail black-text align-self-center" src="{{ value.imageurl }}" alt="{{value.recipename}}">
                        <div style="background-color: rgba(0,0,0,.3); width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                          {{value.recipename}}
                        </div>
                      </strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


  </div>
  <div class="col-md-8">

    <div class="card" style="margin-top:10px; background-color: #f1f1f1;">
      <!--links to add and view all recipies-->
      <div class="card-header white-text" style="background-color: grey;">
        <h3 style="margin-bottom:0px;">Make a Post
        <a style="float: right; color: white;" data-toggle="modal" data-target="#recipe-adder" ><h5 ng-if="myUser.userid === user.userid" style="margin-bottom:0px;">Add Recipe <i class="fa fa-plus fa-xs pr-1"></i></h5></a></h3>
      </div>

      <!--some recipies-->
      <div class="card-body" style="padding: 0px;">
        <div class="row" style="padding: 20px;">
          <div class="col-md-9 form-group" style="margin: 0px;">
              <input class="form-control" ng-model="posttitle" placeholder="Post Title" required="required" style="width: 100%;"></input>
              <textarea class="form-control" ng-model="postcontent" placeholder="Post Content" rows="3" required="required" style="width: 100%;"></textarea>
          </div>
          <div class="col-md-3 form-group" style="padding: 10px;">
            <center>
              <button class="btn hh" ng-click="MakePost()">Post</button>
            </center>
          </div>
        </div>
      </div>

    </div>


    <div class="comment-container" style="background-color: rgba(0,0,0,0); margin-top: 20px; margin-bottom: 20px;">
      <div ng-repeat="value in userPosts">
        <div class="card" style="margin-bottom:10px; background-color: #f1f1f1;">


          <div class="card-header white-text" style="background-color: grey;">
            <div style="float:left;">
              <h6 style="margin-bottom:0px;">{{ value.authorname }} {{ value.date }}</h6>
            </div>
            <div ng-if="myUser.userid === value.posterid || myUser.userid === value.userid" style="float:right;">
              <a style="color: #e50000;" ng-click="DeletePost(value.postid)">Delete <i class="far fa-trash-alt"></i></a>
            </div>
          </div>

          <div class="card-body" style="padding: 0px;">
            <div class="row" style="padding: 20px;">
              <div class="col-md-9 form-group" style="margin: 0px;">
                <h3>{{ value.title }}</h3>
                <p>{{ value.content }}</p>
              </div>
              <div class="col-md-3 form-group" style="padding: 10px;">
                <center>

                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
