
<div>
  <div id="content-wrapper">

    <!-- Header -->
    <div id="landing-header">



    </div>


    <!-- Content -->
    <div id="content-wrapper">


      <div id="description-wrapper">


        <div id="counter">
          <p> {{ recipeCount }} Recipes and Counting </p>
        </div>

        <div id="call-to-action">

        </div>


      </div>

      <div id="form-wrapper" >

        <div id="form">

        </div>

        <input ng-model="name"></input>
        <p> {{ data }} </p>
      </div>


    </div>

  </div>
</div>
