<html>
  <head>

    <!-- Credits -->
    <meta charset="utf-8">
    <title>HungerHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="DABDA, LLC">

    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="http://unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src="router.js"></script>
    <script src="components/landingPage/landingPageController.js"></script>
    <script src="components/recipesPage/recipesPageController.js"></script>
    <script src="components/addRecipe/addRecipeController.js"></script>

  </head>
  <body ng-app="starvingToday" >

    <div id="content-wrapper" class="content-wrapper" style="background-color: #000;" ng-controller="mainController">
      <div id="landing-page" ng-if="!auth" >
        <ng-include src="'components/landingPage/landingPage.html'"></ng-include>
      </div>

      <div id="home" ng-if="auth">
        <ng-include src="'components/header/header.html'"></ng-include>
        <ui-view></ui-view>
      </div>
    </div>

    <section class="footer" style="color: #FFFFFF">TOS | All Rights Reserved | HungerHub 2018</section>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
