  <body ng-app="recipePage">

      <!-- Content -->
      <div class="full" id="recipe-wrapper">

        <div id="top-half" style="height: 15%;">
          <div class="center" id="center" style="width: 840px; height: 100%; padding: 0 20px;">
            <div style="position: relative; top: 50%;transform: translateY(50%); ">
              <img src="chicken.jpg" style="height: 100%; width: 100%; max-height: 150px; max-width: 150px; background-color: #fff; padding: 5px; box-shadow: -2px 2px 2px #888; float: left;"/>
              <div style="height: 50%; width: 100%; max-height: 150px; max-width: 50%; float: left; padding: 10px 10px; color: #fff;">
                <h2>
                  {{ recipe.title }}
                </h2>
              </div>
              <div style="height: 50%; width: 100%; max-height: 150px; max-width: 50%; float: left; padding: 10px 10px; color: #fff;">
                <p style="color: #111;">
                  {{ recipe.description }}
                </p>
                <p style="color: #111;">
                    {{ recipe.tags }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="bottom-half" style="height: 85%; background-color: #f1f1f1;">
          <div class="center" id="center" style="width: 840px; height: 100%;">
            <div id="top-content-wrapper" style="padding-top: 80px;">

              <div id="quick-facts-wrapper" style="width: 20%; float: left;">
                <div id="quick-facts" style="background-color: #fff7dd; border-style: solid; border-color: #fde79c; border-width: 1px; padding-left: 20px;">
                  <h4>
                    Quick Facts
                  </h4>
                  <p>
                    Servings: {{ recipe.servings }}
                    Calories: {{ recipe.calories }}
                    Time: {{ recipe.time }}
                  </p>

                </div>
              </div>

              <div id="ingredients-wrapper" style="width: 80%; float: left;">
                {{ recipe.ingredients }}
              </div>


            </div>


          </div>
        </div>

      </div>
