<body style="height:100%;">
  <div class="container h-100" style="justify-content:center;">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-4">
        <!--RECIPE INFO CARD-->
        <div class="card">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top white fill" src="{{ recipe.imageurl }}">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h3 style="margin-bottom:0px;" class="card-title black-text">{{ recipe.recipename }}</h3>
            <div class="row" style="margin-top: 5px;" ng-repeat="tag in recipe.tags">
              <div class="card hh" style="padding: 5px;">
                <h5 style="margin: 0px;">{{ tag }}</h5>
              </div>
            </div>
            <div><a style="float: right; color: grey;" data-toggle="modal" data-target="#recipe-editor" ><i class="fa fa-pencil fa-xs pr-1"></i></a></div>
            </h5>
            <hr>
            <!--Text-->
            <div>{{ recipe.recipedescription }}</div>
            <hr>
            Ingredients:
            <div>{{ recipe.ingredients }}</div>
          </div>
          <!--/.Card content-->
          <!-- Card footer -->
          <div class=" card-body tea lighten-3 text-center">

              <ul class="list-unstyled list-inline mt-3">
                <li class="list-inline-item pr-2 black-text"><i class="fa fa-cutlery pr-1"></i>{{ recipe.preptime + recipe.cooktime}} mins</li>
                <li class="list-inline-item pr-2 black-text"><i class="fa fa-thumbs-o-up pr-1"></i>{{ recipe.calories }}</li>
                <li class="list-inline-item pr-2 black-text"><i class="fa fa-group pr-1"></i>{{ recipe.servings }}</li>
              </ul>

          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="comment-container" style="width:100%; background-color: #f1f1f1; padding:10px;">
          <h3 class="dark-text" style="padding:10px;">Instructions:</h3>
          <h3 class="dark-text" style="padding:10px;">{{ recipe.recipeinstructions }}</h3>

        <!--  COMMENTS Form -->
        <form name="reviewForm">
            <h4>Comments</h4>
             <fieldset class="form-group">
                 <textarea ng-model="comment.body" class="form-control" placeholder="Witty Comment Here" title="Review"></textarea>
            </fieldset>

            <fieldset class="form-group">
                  <input type="submit" class="btn btn-primary pull-right" value="Submit Comment" ng-click="Comment()" />
            </fieldset>
        </form>
        <!--COMMENTS-->
          Comments:
          <div ng-repeat="(key, value) in comments">
            <div style="padding:10px">
                By: {{value.userid}} </br>
                <b>{{value.comment}}</b></br>
                <small>{{value.date}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Recipe Editor Modal -->
  <div  class="modal fade" id="recipe-editor" tabindex="-1" role="dialog" ng-controller="recipeEditModalController">

    <div class="modal-dialog" role="document" onload="OpenModal()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Recipe</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <!--image link upload-->
            <div class="md-form">
                <i class="fa fa-camera fa-xs prefix grey-text"></i>
                <input type="text" id="recipeimage" class="form-control" ng-model="imageurl">
                <p class="font-small grey-text d-flex justify-content-end">Image</p>
            </div>

            <!--recipe title-->
            <div class="md-form">
                <i class="fa fa-cutlery fa-xs prefix grey-text"></i>
                <input type="text" id="recipetitle" class="form-control" ng-model="recipename">
                <p class="font-small grey-text d-flex justify-content-end">Recipe Title</p>
            </div>

            <!-- description -->
            <div class="md-form">
                <i class="fa fa-pencil fa-xs prefix grey-text"></i>
                <textarea type="text" id="description" class="form-control md-textarea" rows="3" ng-model="recipedescription"></textarea>
                <p class="font-small grey-text d-flex justify-content-end">Description</p>
            </div>

            <!--servings-->
            <!-- CHANGE TO DROP DOWN -->
            <div class="md-form">
                <i class="fa fa-group fa-xs prefix grey-text"></i>
                <input type="text" id="servings" class="form-control" ng-model="servings">
                <p class="font-small grey-text d-flex justify-content-end">Number of Servings</p>
            </div>

            <!--calories-->
            <div class="md-form">
                <i class="fa fa-bar-chart fa-xs prefix grey-text"></i>
                <input type="text" id="calories" class="form-control" ng-model="calories">
                <p class="font-small grey-text d-flex justify-content-end">Calories</p>
            </div>

            <!--preptime-->
            <div class="md-form">
                <i class="fa fa-hourglass-half fa-xs prefix grey-text"></i>
                <input type="text" id="preptime" class="form-control" ng-model="preptime">
                <p class="font-small grey-text d-flex justify-content-end">Preparation Time</p>
            </div>

            <!--cooktime-->
            <div class="md-form">
                <i class="fa fa-hourglass-end fa-xs prefix grey-text"></i>
                <input type="text" id="cooktime" class="form-control" ng-model="cooktime">
                <p class="font-small grey-text d-flex justify-content-end">Cooking Time</p>
            </div>

            <!-- ingredients -->
            <!-- CHECK IF CAN ADD ONE AT A TIME -->
            <div class="md-form">
                <i class="fa fa-cart-plus fa-xs prefix grey-text"></i>
                <textarea type="text" id="ingredients" class="form-control md-textarea" rows="3" ng-model="ingredients"></textarea>
                <p class="font-small grey-text d-flex justify-content-end">Ingredients</p>
            </div>

            <!-- instructions -->
            <div class="md-form">
                <i class="fa fa-map prefix fa-xs grey-text"></i>
                <textarea type="text" id="instructions" class="form-control md-textarea" rows="3" ng-model="recipeinstructions"></textarea>
                <p class="font-small grey-text d-flex justify-content-end">Instructions</p>
            </div>

            <!-- tags -->
            <!-- CHANGE TO DROP DOWN -->
            <div class="md-form">
                <i class="fa fa-tag prefix grey-text"></i>
                <textarea type="text" id="tags" class="form-control md-textarea" rows="3" ng-model="tags"></textarea>
                <p class="font-small grey-text d-flex justify-content-end">Tags</p>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn hh" data-dismiss="modal" ng-click="UpdateRecipe()" type="submit">Save Recipe</button>
        </div>
      </div>
    </div>
  </div>

</body>
