<body style="height:100%;">
  <div class="container h-100" style="justify-content:center;">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-4">
        <!--RECIPE INFO CARD-->
        <div class="card">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top white fill" src="{{ recipe.imageurl }}">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h3 style="margin-bottom:0px;" class="card-title black-text">{{ recipe.recipename }}</h3>
            <div class="row">
              <div class="col-md-10 d-flex" style="margin-top: 5px;">
                <div ng-repeat="tag in recipe.tags">
                  <div class="btn" style="padding: 5px; background-color: #87c967 !important; color: #FAFEF8 !important; font-weight: 500;">
                    <smallest>{{ tag }}</smallest>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <a style="color: grey; font-size: 18px;" data-toggle="modal" data-target="#recipe-editor" ><i class="far fa-edit pr-1"></i></a>
                <a style="color: red; font-size: 18px;" ng-click="DeleteRecipe()"><i class="fas fa-trash-alt pr-1"></i></a>
              </div>
            </div>
            <hr>
            <!--Text-->
            <div>{{ recipe.recipedescription }}</div>
            <hr>
            Ingredients:

            <table>
              <tr ng-repeat="i in recipe.ingredients">
                <td>{{ i.ingredient }}</td>
              </tr>
            </table>

          </div>
          <!--/.Card content-->
          <!-- Card footer -->
          <div class=" card-body tea lighten-3 text-center">

            <ul class="list-unstyled list-inline mt-3">
              <li class="list-inline-item pr-2 black-text"><i class="far fa-clock pr-1"></i>{{ recipe.preptime + recipe.cooktime}} mins</li>
              <li class="list-inline-item pr-2 black-text"><i class="far fa-thumbs-up pr-1"></i>{{ recipe.calories }}</li>
              <li class="list-inline-item pr-2 black-text"><i class="fas fa-users pr-1"></i>{{ recipe.servings }}</li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="comment-container" style="width:100%; background-color: #f1f1f1; padding:10px;">
          <h3 class="dark-text" style="padding:10px;">Instructions:</h3>
          <h4 class="dark-text" style="padding:10px;white-space: pre-wrap;" >{{recipe.recipeinstructions}}</h4>

        <!--COMMENTS-->
        </div>
        <div style="width:100%; background-color: #f1f1f1; padding:10px; margin-top: 10px;">

        <!--  COMMENTS Form -->
        <form name="reviewForm" ng-submit="Comment()">
           <fieldset class="form-group">
               <input ng-model="comment.body" class="form-control" placeholder="Submit a comment" title="Review"></input>
          </fieldset>

        </form>
        <h3>Comments:</h3>
        <div ng-repeat="(key, value) in comments">
          <div class="container-fluid card" style="padding:10px; margin-bottom: 10px; background-color: #fff;">
            <div class="row">
              <div class="col-md-12">
                <div style="float:left;"><b>{{ value.authorname }}</b> <small> {{value.date}}</small></div>
                <div style="float:right;" ng-if="value.posterid === user.userid" ng-controller="commentEditModalController">
                  <!--<a class="grey-text" data-toggle="modal" data-target="#comment-editor" ng-click="PopulateComment(value.commentid)"><i class="fa fa-pencil fa-xs pr-1"></i></a>-->
                  <a class="red-text" ng-click="DeleteComment(value.commentid)"><i class="fas fa-trash-alt pr-1"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">{{value.comment}}
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Recipe Editor Modal -->
  <div  class="modal fade" id="recipe-editor" tabindex="-1" role="dialog" ng-controller="recipeEditModalController">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Recipe</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <!--image link upload-->
            <div class="md-form">
                <i class="fa fa-camera fa-xs prefix grey-text"></i>
                <input type="text" id="recipeimage" class="form-control" ng-model="curRec.imageurl">
                <p class="font-small grey-text d-flex justify-content-end">Image</p>
            </div>

            <!--recipe title-->
            <div class="md-form">
                <i class="fa fa-cutlery fa-xs prefix grey-text"></i>
                <input type="text" id="recipetitle" class="form-control" ng-model="curRec.recipename">
                <p class="font-small grey-text d-flex justify-content-end">Recipe Title</p>
            </div>

            <!-- description -->
            <div class="md-form">
                <i class="fa fa-pencil fa-xs prefix grey-text"></i>
                <textarea type="text" id="description" class="form-control md-textarea" rows="3" ng-model="curRec.recipedescription"></textarea>
                <p class="font-small grey-text d-flex justify-content-end">Description</p>
            </div>

            <!-- instructions -->
            <div class="md-form">
                <i class="fa fa-map prefix fa-xs grey-text"></i>
                <textarea type="text" id="instructions" class="form-control md-textarea" rows="3" ng-model="curRec.recipeinstructions"></textarea>
                <p class="font-small grey-text d-flex justify-content-end">Instructions</p>
            </div>

            <!--servings-->
            <!-- CHANGE TO DROP DOWN -->
            <div class="md-form">
                <i class="fa fa-group fa-xs prefix grey-text"></i>
                <input type="text" id="servings" class="form-control" ng-model="curRec.servings">
                <p class="font-small grey-text d-flex justify-content-end">Number of Servings</p>
            </div>

            <!--calories-->
            <div class="md-form">
                <i class="fa fa-bar-chart fa-xs prefix grey-text"></i>
                <input type="text" id="calories" class="form-control" ng-model="curRec.calories">
                <p class="font-small grey-text d-flex justify-content-end">Calories</p>
            </div>

            <!--preptime
            <div class="md-form">
                <i class="fa fa-hourglass-half fa-xs prefix grey-text"></i>
                <input type="text" id="preptime" class="form-control" ng-model="curRec.preptime">
                <p class="font-small grey-text d-flex justify-content-end">Preparation Time</p>
            </div>-->

            <!--cooktime-->
            <div class="md-form">
                <i class="fa fa-hourglass-end fa-xs prefix grey-text"></i>
                <input type="text" id="cooktime" class="form-control" ng-model="curRec.cooktime">
                <p class="font-small grey-text d-flex justify-content-end">Cooking Time</p>
            </div>

            <!-- ingredients -->
            <!-- CHECK IF CAN ADD ONE AT A TIME -->
            <div class="md-form">
                <i class="fa fa-cart-plus fa-xs prefix grey-text"></i>
                <textarea type="text" id="ingredients" class="form-control md-textarea" rows="3" ng-model="curRec.ingredients"></textarea>
                <p class="font-small grey-text d-flex justify-content-end">Ingredients</p>
            </div>

            <!-- tags -->
            <!-- CHANGE TO DROP DOWN -->
            <div class="md-form">
                <i class="fa fa-tag prefix grey-text"></i>
                <textarea type="text" id="tags" class="form-control md-textarea" rows="3" ng-model="tags"></textarea>
                <p class="font-small grey-text d-flex justify-content-end">Tags</p>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn hh" data-dismiss="modal" ng-click="UpdateRecipe()" type="submit">Save Recipe</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Comment Editor Modal -->
  <div  class="modal fade" id="comment-editor" tabindex="-1" role="dialog" ng-controller="commentEditModalController">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Comment</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <!--image link upload-->
            <div class="md-form">
                <i class="fa fa-pencil fa-xs prefix grey-text"></i>
                <input type="text" class="form-control" ng-model="editcomment.comment">
                <p class="font-small grey-text d-flex justify-content-end">Comment</p>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn hh" data-dismiss="modal" ng-click="UpdateComment()" type="submit">Save Comment</button>
        </div>
      </div>
    </div>
  </div>

</body>
