<div class="album py-5" >
        <div class="container">
          <div class="row" >
            <div class="col-md-4" ng-repeat="(key, value) in recipes | limitTo:Math.ceil(recipes.length/3)">
              <div class="card mb-4 box-shadow">
                <div style="padding-bottom:100%; overflow:hidden; position:relative; max-height:50px;" >
                  <img class="card-img-top" src="{{ value.imageurl }}" alt="{{ value.recipename }} Image" style="object-fit: cover; overflow-y: hidden; background-color: #f0f0f0;">
                </div>
                <div class="card-body">
                  <p class="card-title">{{ value.recipename }}</p>
                  <p class="card-text" style="height:120px; overflow-y: auto;">{{ value.recipedescription }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="selectRecipe(key)">View</button>
                    </div>
                    <small class="text-success">+{{value.upvotes}}</small>
                    <small class="text-danger">-{{value.downvotes}}</small>
                    <small class="text-muted">Total Time: {{value.preptime + value.cooktime}} mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
