<div ng-controller="modalController">
<!-- Recipe Editor Modal -->
<div class="modal fade" id="recipe-editor" tabindex="-1" role="dialog">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recipe</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!--image link upload-->
          <div class="md-form">
              <i class="fa fa-camera fa-xs prefix grey-text"></i>
              <input type="text" id="recipeimage" class="form-control" ng-model="imageurl">
              <p class="font-small grey-text d-flex justify-content-end">Image</p>
          </div>

          <!--recipe title-->
          <div class="md-form">
              <i class="fa fa-cutlery fa-xs prefix grey-text"></i>
              <input type="text" id="recipetitle" class="form-control" ng-model="recipename">
              <p class="font-small grey-text d-flex justify-content-end">Name of rec: {{recipe.recipename}}</p>
              <p class="font-small grey-text d-flex justify-content-end">Recipe Title</p>
          </div>

          <!-- description -->
          <div class="md-form">
              <i class="fa fa-pencil fa-xs prefix grey-text"></i>
              <textarea type="text" id="description" class="form-control md-textarea" rows="3" ng-model="recipedescription"></textarea>
              <p class="font-small grey-text d-flex justify-content-end">Description</p>
          </div>

          <!--servings-->
          <!-- CHANGE TO DROP DOWN -->
          <div class="md-form">
              <i class="fa fa-group fa-xs prefix grey-text"></i>
              <input type="text" id="servings" class="form-control" ng-model="servings">
              <p class="font-small grey-text d-flex justify-content-end">Number of Servings</p>
          </div>

          <!--calories-->
          <div class="md-form">
              <i class="fa fa-bar-chart fa-xs prefix grey-text"></i>
              <input type="text" id="calories" class="form-control" ng-model="calories">
              <p class="font-small grey-text d-flex justify-content-end">Calories</p>
          </div>

          <!--preptime-->
          <div class="md-form">
              <i class="fa fa-hourglass-half fa-xs prefix grey-text"></i>
              <input type="text" id="preptime" class="form-control" ng-model="preptime">
              <p class="font-small grey-text d-flex justify-content-end">Preparation Time</p>
          </div>

          <!--cooktime-->
          <div class="md-form">
              <i class="fa fa-hourglass-end fa-xs prefix grey-text"></i>
              <input type="text" id="cooktime" class="form-control" ng-model="cooktime">
              <p class="font-small grey-text d-flex justify-content-end">Cooking Time</p>
          </div>

          <!-- ingredients -->
          <!-- CHECK IF CAN ADD ONE AT A TIME -->
          <div class="md-form">
              <i class="fa fa-cart-plus fa-xs prefix grey-text"></i>
              <textarea type="text" id="ingredients" class="form-control md-textarea" rows="3" ng-model="ingredients"></textarea>
              <p class="font-small grey-text d-flex justify-content-end">Ingredients</p>
          </div>

          <!-- instructions -->
          <div class="md-form">
              <i class="fa fa-map prefix fa-xs grey-text"></i>
              <textarea type="text" id="instructions" class="form-control md-textarea" rows="3" ng-model="recipeinstructions"></textarea>
              <p class="font-small grey-text d-flex justify-content-end">Instructions</p>
          </div>

          <!-- tags -->
          <!-- CHANGE TO DROP DOWN -->
          <div class="md-form">
              <i class="fa fa-tag prefix grey-text"></i>
              <textarea type="text" id="tags" class="form-control md-textarea" rows="3" ng-model="tags"></textarea>
              <p class="font-small grey-text d-flex justify-content-end">Tags</p>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn hh" data-dismiss="modal" ng-click="UpdateRecipe()" type="submit">Save Recipe</button>
      </div>
    </div>
  </div>
</div>

<!-- User Info Modal -->
<div class="modal fade" id="user-editor" tabindex="-1" role="dialog" data-backdrop="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">User Information</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!--full name-->
          <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="userFullName" class="form-control" ng-model="fullname">
              <p class="font-small grey-text d-flex justify-content-end">Name: {{fullname}}</p>
          </div>

          <!-- email -->
          <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" id="useremail" class="form-control" ng-model="user.email">
              <p class="font-small grey-text d-flex justify-content-end">Email</p>
          </div>

          <!-- bio -->
          <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea type="text" id="userbio" class="form-control md-textarea" rows="3" ng-model="bio"></textarea>
              <p class="font-small grey-text d-flex justify-content-end">Bio</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn hh" ng-click="UpdateUser()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Friend Viewer Modal -->
<div class="modal fade" id="friends-viewer" tabindex="-1" role="dialog" data-backdrop="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="md-form mt-0">
          <input class="form-control" style="width: 100%;" type="text" placeholder="Search" aria-label="Search" ng-model="">
        </div>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">

        <ul class="list-group" ng-repeat="(key,value) in userfriends">
          <li class="list-group-item">{{ value.username }} | {{ value.userFullName }}</li>
        </ul>

      </div>
    </div>
  </div>
</div>
</div>
