
<!-- Recipe Adder Modal -->
<div class="modal fade" id="recipe-adder" tabindex="-1" role="dialog" ng-controller="recipeAddModalController">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recipe</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!--image link upload-->
          <div class="md-form">
              <i class="far fa-image fa-xs prefix grey-text"></i>
              <input type="text" id="recipeimage" class="form-control" ng-model="imageurl">
              <p class="font-small grey-text d-flex justify-content-end">Image</p>
          </div>

          <!--recipe title-->
          <div class="md-form">
              <i class="fas fa-utensils fa-xs prefix grey-text"></i>
              <input type="text" id="recipetitle" class="form-control" ng-model="recipename">
              <p class="font-small grey-text d-flex justify-content-end">Recipe Title</p>
          </div>

          <!-- description -->
          <div class="md-form">
              <i class="fas fa-pencil-alt fa-xs prefix grey-text"></i>
              <textarea type="text" id="description" class="form-control md-textarea" rows="3" ng-model="recipedescription"></textarea>
              <p class="font-small grey-text d-flex justify-content-end">Description</p>
          </div>

          <!-- instructions -->
          <div class="md-form">
              <i class="fas fa-info-circle prefix fa-xs grey-text"></i>
              <textarea type="text" id="instructions" class="form-control md-textarea" rows="3" ng-model="recipeinstructions"></textarea>
              <p class="font-small grey-text d-flex justify-content-end">Instructions</p>
          </div>

          <!--servings-->
          <!-- CHANGE TO DROP DOWN -->
          <div class="md-form">
              <i class="fas fa-users fa-xs prefix grey-text"></i>
              <input type="text" id="servings" class="form-control" ng-model="servings">
              <p class="font-small grey-text d-flex justify-content-end">Number of Servings</p>
          </div>

          <!--calories-->
          <div class="md-form">
              <i class="far fa-chart-bar fa-xs prefix grey-text"></i>
              <input type="text" id="calories" class="form-control" ng-model="calories">
              <p class="font-small grey-text d-flex justify-content-end">Calories</p>
          </div>

          <!--preptime
          <div class="md-form">
              <i class="fa fa-hourglass-half fa-xs prefix grey-text"></i>
              <input type="text" id="preptime" class="form-control" ng-model="preptime">
              <p class="font-small grey-text d-flex justify-content-end">Preparation Time</p>
          </div>-->

          <!--cooktime-->
          <div class="md-form">
              <i class="fa fa-hourglass-half fa-xs prefix grey-text"></i>
              <input type="text" id="cooktime" class="form-control" ng-model="cooktime">
              <p class="font-small grey-text d-flex justify-content-end">Cooking Time</p>
          </div>

          <!-- ingredients -->
          <!-- CHECK IF CAN ADD ONE AT A TIME -->
          <div class="md-form">
              <i class="fas fa-cart-plus fa-xs prefix grey-text"></i>
              <textarea type="text" id="ingredients" class="form-control md-textarea" rows="3" ng-model="ingredients"></textarea>
              <p class="font-small grey-text d-flex justify-content-end">Ingredients</p>
          </div>

          <!-- tags -->
          <!-- CHANGE TO DROP DOWN -->
          <div class="md-form">
              <i class="fas fa-tags prefix grey-text"></i>
              <textarea type="text" id="tags" class="form-control md-textarea" rows="3" ng-model="tags"></textarea>
              <p class="font-small grey-text d-flex justify-content-end">Tags</p>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn hh" data-dismiss="modal" ng-click="UpdateRecipe()" type="submit">Save Recipe</button>
      </div>
    </div>
  </div>
</div>
