<!-- Recipe Editor Modal -->
<div class="modal fade" id="recipe-editor" tabindex="-1" role="dialog" ng-controller="viewRecipeController">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recipe</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!--recipe title-->
          <div class="md-form">
              <i class="fa fa-cutlery fa-xs prefix grey-text"></i>
              <input type="text" id="recipetitle" class="form-control" ng-model="recipename" value="{{recipename}}">
              <label for="recipetitle">Recipe Title</label>
          </div>

          <!-- description -->
          <div class="md-form">
              <i class="fa fa-pencil fa-xs prefix grey-text"></i>
              <textarea type="text" id="description" class="form-control md-textarea" rows="3" ng-model="recipedescription" value="{{recipedescription}}"></textarea>
              <label for="description">Description</label>
          </div>

          <!--servings-->
          <!-- CHANGE TO DROP DOWN -->
          <div class="md-form">
              <i class="fa fa-group fa-xs prefix grey-text"></i>
              <input type="text" id="servings" class="form-control" ng-model="servings" value="{{servings}}">
              <label for="servings">Number of Servings</label>
          </div>

          <!--calories-->
          <div class="md-form">
              <i class="fa fa-bar-chart fa-xs prefix grey-text"></i>
              <input type="text" id="calories" class="form-control" ng-model="calories" value="{{calories}}">
              <label for="calories">Calories</label>
          </div>

          <!--preptime-->
          <div class="md-form">
              <i class="fa fa-hourglass-half fa-xs prefix grey-text"></i>
              <input type="text" id="preptime" class="form-control" ng-model="preptime" value="{{preptime}}">
              <label for="preptime">Preparation Time</label>
          </div>

          <!--cooktime-->
          <div class="md-form">
              <i class="fa fa-hourglass-end fa-xs prefix grey-text"></i>
              <input type="text" id="cooktime" class="form-control" ng-model="cooktime" value="{{cooktime}}">
              <label for="cooktime">Cooking Time</label>
          </div>

          <!-- ingredients -->
          <!-- CHECK IF CAN ADD ONE AT A TIME -->
          <div class="md-form">
              <i class="fa fa-cart-plus fa-xs prefix grey-text"></i>
              <textarea type="text" id="ingredients" class="form-control md-textarea" rows="3" ng-model="ingredients" value="{{ingredients}}"></textarea>
              <label for="ingredients">Ingredients</label>
          </div>

          <!-- instructions -->
          <div class="md-form">
              <i class="fa fa-map prefix fa-xs grey-text"></i>
              <textarea type="text" id="instructions" class="form-control md-textarea" rows="3" ng-model="recipeinstructions" value="{{recipeinstructions}}"></textarea>
              <label for="instructions">Instructions</label>
          </div>

          <!-- tags -->
          <!-- CHANGE TO DROP DOWN -->
          <div class="md-form">
              <i class="fa fa-tag prefix grey-text"></i>
              <textarea type="text" id="tags" class="form-control md-textarea" rows="3" ng-model="tags" value="{{tags}}"></textarea>
              <label for="tags">Tags</label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn hh" data-dismiss="modal" ng-click="SendData()" type="submit">Save Recipe</button>
      </div>
    </div>
  </div>
</div>

<!-- User Info Modal -->
<div class="modal fade" id="user-editor" role="dialog" data-backdrop="true" ng-controller="myHubController">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">User Information</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!--full name-->
          <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="userFullName" class="form-control" ng-model="tempuser.lastname" value="{{user.firstname + user.lastname}}" autofocus>
              <label for="userFullName">Name</label>
          </div>

          <!-- email -->
          <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" id="useremail" class="form-control" ng-model="tempuser.email" value="{{user.email}}">
              <label for="useremail">Email</label>
          </div>

          <!-- bio -->
          <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea type="text" id="userbio" class="form-control md-textarea" rows="3" ng-model="tempuser.bio" value="{{user.bio}}"></textarea>
              <label for="userbio">Bio</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn hh">Save changes</button>
      </div>
    </div>
  </div>
</div>
