  <div class="container h-100" style="justify-content:center">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-4">
        <!--USER PROFILE CARD-->
        <div class="card">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="{{ user.profileimage }}" class="img-fluid">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h3 style="margin-bottom:0px;" class="card-title black-text">{{ user.firstname }} {{ user.lastname }}</h3>
            <h5><i>{{ user.username}}</i>
            <a style="float: right; color: grey;" data-toggle="modal" data-target="#user-editor"><i class="fa fa-pencil fa-xs pr-1"></i></a>
            </h5>
            <hr>
            <!--Text-->
            <div>{{ user.bio }}</div>

          </div>
          <!--/.Card content-->
          <!-- Card footer -->
          <div class=" card-body tea lighten-3 text-center">

              <ul class="list-unstyled list-inline mt-3">
                <li class="list-inline-item pr-2 black-text"><i class="fa fa-cutlery pr-1"></i>{{recipecount}}</li>
                <li class="list-inline-item pr-2 black-text"><i class="fa fa-thumbs-o-up pr-1"></i>{{reciperating}}</li>
                <li class="list-inline-item pr-2 black-text"><a data-toggle="modal" data-target="#friends-viewer"><i class="fa fa-group pr-1"></i></a>-99.9</li>
              </ul>

          </div>
        </div>

        <!--RECIPIES CARD-->
        <div class="card" style="margin-top:10px; background-color: #f1f1f1;">
          <!--links to add and view all recipies-->
          <div class="card-header white-text" style="background-color: grey;">
            <h3 style="margin-bottom:0px;">Recipes<div ng-controller="recipeModalController"><a style="float: right; color: white;" data-toggle="modal" data-target="#recipe-editor" ng-click="OpenModal()"><h5><i class="fa fa-plus fa-xs pr-1"></i></h5></a></div></h3>
          </div>

          <!--some recipies-->
          <div class="card-body">
            <div class="row justify-content-center">
              <div ng-repeat="(key, value) in userrecipes | limitTo:9">
                <div class="card white fill" style="padding: 0px; margin: 5px; height: 100px; width: 100px;" data-toggle="tooltip" data-placement="top">
                  <div class="view overlay" style="height: 100px;">
                    <a ng-click="selectRecipe(key)" class="text-center white-text">
                      <strong>
                        <img class="recipie-thumbnail black-text align-self-center" src="{{ value.imageurl }}" alt="{{value.recipename}}">
                        <div style="background-color: rgba(0,0,0,.3); width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                          {{value.recipename}}
                        </div>
                      </strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


  </div>
  <div class="col-md-8">

    <div class="card" style="margin-top:10px; background-color: #f1f1f1;">
      <!--links to add and view all recipies-->
      <div class="card-header white-text" style="background-color: grey;">
        <h3 style="margin-bottom:0px;">Make a Post
        <a style="float: right; color: white;" data-toggle="modal" data-target="#recipe-editor"><h5 style="margin-bottom:0px;">Add Recipe <i class="fa fa-plus fa-xs pr-1"></i></h5></a></h3>
      </div>

      <!--some recipies-->
      <div class="card-body" style="padding: 0px;">
        <div class="row" style="padding: 20px;">
          <div class="col-md-9 form-group" style="margin: 0px;">
              <textarea class="form-control" ng-model="posttitle" rows="3" style="width: 100%;"></textarea>
              <textarea class="form-control" ng-model="postcontent" rows="3" style="width: 100%;"></textarea>
          </div>
          <div class="col-md-3 form-group" style="padding: 10px;">
            <center>
              <button class="btn hh" ng-click="MakePost()">Post</button>
            </center>
          </div>
        </div>
      </div>

    </div>
    <!--COMMENTS-->
    <div class="comment-container" style="background-color: rgba(0,0,0,0); margin-top: 20px; margin-bottom: 20px;">
      <div ng-repeat="value in userPosts">
        <div class="card" style="margin-bottom:10px; background-color: #f1f1f1;">
          <!--links to add and view all recipies-->
          <div class="card-header white-text" style="background-color: grey;">
            <h4 style="margin-bottom:0px;">{{ user.firstname }} {{ value.title }}</h4>
          </div>

          <!--some recipies-->
          <div class="card-body" style="padding: 0px;">
            <div class="row" style="padding: 20px;">
              <div class="col-md-9 form-group" style="margin: 0px;">
                {{ value.content }}
              </div>
              <div class="col-md-3 form-group" style="padding: 10px;">
                <center>

                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
